# Kopiere diese Datei nach ".env" und passe die Werte fuer deine Umgebung an.
# WICHTIG: Vor produktivem Einsatz alle Passwoerter aendern!

# Hostname/IP dieses Servers, wie er von Modalitaeten (CT/MRT/RIS/...)
# im Netzwerk erreicht werden kann. Wird als AE-Host in der LDAP-Konfiguration
# hinterlegt, damit externe Geraete C-STORE/C-FIND/MWL-Verbindungen aufbauen koennen.
ARCHIVE_HOST=localhost

# Image-Versionen (siehe https://hub.docker.com/u/dcm4che)
SLAPD_VERSION=2.6.13-35.0
POSTGRES_VERSION=18.3-35
ARC_VERSION=5.35.0

# PostgreSQL
POSTGRES_DB=pacsdb
POSTGRES_USER=pacs
POSTGRES_PASSWORD=change-me

# Wildfly-Admin-Konsole (Port 9990/9993), NICHT das Archiv-Web-UI-Login
WILDFLY_ADMIN_USER=admin
WILDFLY_ADMIN_PASSWORD=change-me

# BDT-Bridge (liest Dateien aus ./bdt_poll und legt MWL-Eintraege im Archiv an)
ARC_AE_TITLE=DCM4CHEE
DEFAULT_MODALITY=OT
DEFAULT_STATION_AET=
BDT_ENCODING=cp850
BDT_POLL_INTERVAL_SECONDS=5
